

@media (max-width: 1199px) {



/*
========================================
Start Reusable Components
========================================
*/

.ps-lg-40{
	padding-left:40px;
}

.mb-lg-25{
	margin-bottom:25px;
}

/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/
.header-section {
    margin-bottom: 0px;
}

.hero-content h1{
	font-size:54px;
}

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Features Section Css
========================================
*/

.features-section .row{
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.features-section .row > *{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/*
========================================
End Features Section Css
========================================
*/

/*
========================================
Start Redefine Section Css
========================================
*/

.redefine-desc h3 {
    margin-right: 50px;
}

.redefine-desc p {
    margin-right: 50px;
}

/*
========================================
End Redefine Section Css
========================================
*/

/*
========================================
Start Service Section Css
========================================
*/

.service-section .row {
	margin-left:-15px;
	margin-right:-15px;
}

.service-section .row > * {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*
========================================
End Service Section Css
========================================
*/


/*
========================================
Start Latest Project Section Css
========================================
*/

.partialViewSlider-prev {
    left: 15%;
}

.partialViewSlider-next {
    right: 15%;
}

/*
========================================
End Latest Project Section Css
========================================
*/

/*
========================================
Start Consulting Section Css
========================================
*/

.consulting-section .row .col-xl-6:first-child{
  width:41.6666666667%;
}

.consulting-item h3{
	font-size:32px;
}
.consulting-section .row .col-xl-6:last-child{
  width:58.3333333333%;
}

.consulting-box p{
	margin-right:20px;
}

/*
========================================
End Consulting Section Css
========================================
*/

/*
========================================
Start Newslatter Section Css
========================================
*/

.newslatter-field form input[type="email"] {
    width: 241px;
}

.newslatter-field form input[type="submit"] {
    width: 132px;
}

.newslatter-field form {
    width: 410px !important;
}

/*
========================================
End Newslatter Section Css
========================================
*/

}

@media (max-width: 991px) {


/*
========================================
Start Reusable Components
========================================
*/

.btn-1 {
    width: 165px !important;
    height: 60px !important;
    line-height: 60px !important;
}

.py-md-20{
	padding:20px 0px;
}

/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Counter Up Section Css
========================================
*/

.counter-section {
    padding-bottom: 57px;
    padding-top:25px;
}

/*
========================================
End Counter Up Section Css
========================================
*/


/*
========================================
Start Redefine Section Css
========================================
*/

.redefine-desc h3 {
    margin-right: 20px;
}

.redefine-desc p {
    margin-right: 20px;
}

.redefine-btn .btn-1{
	width:160px !important;
}

/*
========================================
End Redefine Section Css
========================================
*/

/*
========================================
Start Brand Section Css
========================================
*/

.brand-section {
    padding-bottom: 60px;
}

/*
========================================
End Brand Section Css
========================================
*/

/*
========================================
Start Technologies Section Css
========================================
*/

.technologies-img{
	height:100%;
	object-fit:cover;
	object-position:center;
}

.technologies-img img {
    height: 100%;
}

/*
========================================
End Technologies Section Css
========================================
*/

/*
========================================
Start Service Section Css
========================================
*/

.service-section {
    padding-top: 50px; 
    padding-bottom: 10px;
}

.service-section .row > * {
    margin-bottom: 50px !important;
}

/*
========================================
End Service Section Css
========================================
*/

/*
========================================
Start Latest Project Section Css
========================================
*/

.title-container{
	padding-top:52px;
}

/*
========================================
End Latest Project Section Css
========================================
*/

/*
========================================
Start Consulting Section Css
========================================
*/

.consulting-section{
	padding-top:60px;
	padding-bottom:45px;
}

.consulting-item h3 {
    font-size: 25px;
}

.consulting-item p {
	margin-bottom:20px;
	margin-right:10px !important;
}

.consulting-box span{
	font-size:50px;
}

.consulting-box h3 {
    font-size:18px;
}

.consulting-section .row .col-xl-6:first-child {
    width: 33.3333333333% !important;
}

.consulting-section .row .col-xl-6:last-child {
    width: 66.6666666667% !important;
}

/*
========================================
End Consulting Section Css
========================================
*/

/*
========================================
Start Newslatter Section Css
========================================
*/

.newslatter-section{
	padding-top:50px;
}

.newslatter-desc p{
	font-size:28px;
}

.newslatter-field form input[type="email"] {
    width: 243px;
}

.newslatter-field form .btn-1{
	width:130px !important;
}

/*
========================================
End Newslatter Section Css
========================================
*/

/*
========================================
Start Footer Section Css
========================================
*/

.social-icon ul li {
    margin-right: 8px;
}

.copyright p{
	font-size:15px;
}

/*
========================================
End Footer Section Css
========================================
*/


}

@media (max-width: 767px) {


/*
========================================
Start Reusable Components
========================================
*/

.mt-sm-15{
	margin-top:15px;
}

.py-sm-50{
	padding:50px 0px;
}

/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

.hero-content {
    width: 400px;
}

.hero-content {
    max-width: 100%;
}

.hero-content h1{
	font-size:40px;
}

/*
======================
Start Curve Css             
======================                      
*/

.custom-shape-divider-bottom-1628750158 svg { 
    width: calc(100% + 1.3px);
    height: 50px;
}

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Counter Up Section Css
========================================
*/

.counter-title h2{
	font-size:32px;
}

.counter-content p{
	max-width: 340px;
}

/*
========================================
End Counter Up Section Css
========================================
*/

/*
========================================
Start Redefine Section Css
========================================
*/

.redefine-desc h3 {
    margin-right: 0px !important;
}

.redefine-desc p {
    margin-right: 0px;
}

.redefine-img {
    padding-left: 0px;
}

/*
========================================
End Redefine Section Css
========================================
*/

/*
========================================
Start Service Section Css
========================================
*/

.service-title h2 {
    max-width: 468px;
    font-size:28px;
}

.service-title p {
    max-width: 424px;
    font-size:14px;
}

/*
========================================
End Service Section Css
========================================
*/

/*
========================================
Start Latest Project Section Css
========================================
*/

.partialViewSlider-prev {
    left: 10%;
}

.partialViewSlider-next {
    right: 10%;
}

/*
========================================
End Latest Project Section Css
========================================
*/

/*
========================================
Start Consulting Section Css
========================================
*/

.consulting-item h3 {
    font-size: 30px;
}

.consulting-item p {
    max-width: 500px;
    margin-right:0px;
}

.consulting-section .row .col-xl-6:first-child {
    width: 100% !important;
}

.consulting-section .row .col-xl-6:last-child {
    width: 100% !important;
}

/*
========================================
End Consulting Section Css
========================================
*/

/*
========================================
Start Newslatter Section Css
========================================
*/

.newslatter-field form {
    width: 100% !important;
}

/*
========================================
End Newslatter Section Css
========================================
*/


}

@media (max-width: 575px) {


/*
========================================
Start Reusable Components
========================================
*/

.px-xs-50{
	padding-left:50px !important;
	padding-right:50px !important;
}

.px-xs-30{
	padding-left:30px;
	padding-right:30px;
}

.px-xs-15{
	padding-left:15px;
	padding-right:15px;
}

.pe-xs-0{
	padding-left:0px;
}
/*
========================================
End Reusable Components
========================================
*/

/*
========================================
Start Header Section Css
========================================
*/

.nav{
	padding-left:15px;
	padding-right:15px;
}

.hero-content {
    width: 300px;
}

.hero-content h1 {
    font-size: 33px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom:30px;
}

/*
======================
Start Curve Css             
======================                      
*/

.custom-shape-divider-bottom-1628750158 svg { 
    width: calc(100% + 1.3px);
    height: 40px;
}

/*
===================================
Start Sticky Menu
===================================
*/

.sticky {
    padding: 25px 15px !important;
}

/*
===================================
End Sticky Menu
===================================
*/

/*
======================
MOBILE MENU                         
======================                      
*/

.mobile-menu .nav-list {
    left: -100%;
    width: 100%;
}

/*
========================================
End Header Section Css
========================================
*/

/*
========================================
Start Features Section Css
========================================
*/

.features-section .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*
========================================
End Features Section Css
========================================
*/


/*
========================================
Start Counter Up Section Css
========================================
*/

.counter-title h2 {
    font-size: 28px;
    width: 100%;
}

/*
========================================
End Counter Up Section Css
========================================
*/


/*
========================================
Start Redefine Section Css
========================================
*/

.redefine-desc h3 {
    width: 100%;
}

.redefine-desc p {
    width: 100%;
   
}

/*
========================================
End Redefine Section Css
========================================
*/

/*
========================================
Start Service Section Css
========================================
*/

.service-box {
    padding-left: 30px;
    padding-right: 30px;
}

/*
========================================
End Service Section Css
========================================
*/


/*
========================================
Start Latest Project Section Css
========================================
*/

.latest-project-title h2{
    font-size:32px;
}

.latest-project i.icon-arrow-circle-left-solid, 
.latest-project i.icon-arrow-circle-right-solid {
    font-size: 30px;
}


/*
========================================
End Latest Project Section Css
========================================
*/


/*
========================================
Start Consulting Section Css
========================================
*/

.consulting-box{
	padding-right:30px;
}

/*
========================================
End Consulting Section Css
========================================
*/

/*
========================================
Start Newslatter Section Css
========================================
*/

.newslatter-field form {
	padding-left:20px;
}

.newslatter-field form input[type="email"] {
    width: 65%;
}

.newslatter-field form .btn-1 {
    width: 33% !important;
}

/*
========================================
End Newslatter Section Css
========================================
*/

}

@media (max-width: 370px) {

		/*
		========================================
		Start Redefine Section Css
		========================================
		*/

		.redefine-btn .btn-1 {
		   	width: 120px !important;
		}

		/*
		========================================
		End Redefine Section Css
		========================================
		*/

		/*
		========================================
		Start Brand Section Css
		========================================
		*/

		.brand-img{
			-ms-flex-pack:distribute !important;
			    justify-content:space-around !important;
		}

		.brand-img div:last-child{
			display:none !important;
		}

		/*
		========================================
		End Brand Section Css
		========================================
		*/
	
}










